<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos y Servicios</title>
</head>

<body>

<h1 th:text="${titulo1}">Titulo</h1>

<br>

<div th:if="${productos != null and !productos.empty}">

    <table border="1">
        <tr>
            <th>CÓDIGO</th>
            <th>EAN</th>
            <th>NOMBRE</th>
            <th>DESCRIPCIÓN</th>
            <th>PRECIO</th>
            <th>STOCK</th>

        </tr>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.codigoInternoProducto}">codigoInternoProducto</td>
            <td th:text="${producto.codigoEanProducto}">codigoEanProducto</td>
            <td th:text="${producto.nombre}">nombre</td>
            <td th:text="${producto.descripcion}">descripcion</td>
            <td th:text="${producto.precio}">precio</td>
            <td th:text="${producto.stock}">stock</td>
        </tr>
    </table>
</div>

<br>

<h1 th:text="${titulo2}">Titulo</h1>

<br>

<div th:if="${servicios != null and !servicios.empty}">

    <table border="1">
        <tr>
            <th>CÓDIGO</th>
            <th>EAN</th>
            <th>NOMBRE</th>
            <th>DESCRIPCIÓN</th>
            <th>PRECIO</th>
            <th>DURACIÓN</th>

        </tr>
        <tr th:each="servicio : ${servicios}">
            <td th:text="${servicio.codigoInternoServicio}">codigoInternoServicio</td>
            <td th:text="${servicio.codigoEanServicio}">codigoEanServicio</td>
            <td th:text="${servicio.nombre}">nombre</td>
            <td th:text="${servicio.descripcion}">descripcion</td>
            <td th:text="${servicio.precio}">precio</td>
            <td th:text="${servicio.duracion}">duracion</td>
        </tr>
    </table>
</div>


</body>

</html>