<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Nuevo Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="formulario.css">
</head>
<body>

<div class="container-fluid m-5">

    <form class="formulario" action="/guardarServicio" method="post" th:object="${servicio}">

        <h3>CARGAR UN NUEVO SERVICIO</h3>

        <div class="form-group my-3">
            <label>Código Interno del Servicio: </label>
            <input type="number" name="idServicio" th:field="*{idServicio}"/>
            <br/>
        </div>
        <div class="form-group my-3">
            <label>Código EAN: </label>
            <input type="number" name="codigoEan" th:field="*{codigoEan}"/>
            <br/>
        </div>
        <div class="form-group my-3">
            <label>Nombre: </label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/>
        </div>
        <div class="form-group my-3">
            <label>Descripción: </label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            <br/>
        </div>
        <div class="form-group my-3">
            <label>Precio: </label>
            <input type="number" name="precio" th:field="*{precio}"/>
            <br/>
        </div>
        <div class="form-group my-3">
            <label>Duración (en minutos): </label>
            <input type="number" name="duracion" th:field="*{duracion}"/>
            <br/>
        </div>

        <input type="submit" name="guardar" class="btn btn-primary mt-3 botones" value="Guardar"/>

        <section class=" text-center container">
            <div class="divVolver">
                <a th:href="@{/listadopys}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
            </div>
        </section>

    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>